<!doctype html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Alegreya+Sans:400,700|Alegreya:400,400i" rel="stylesheet">
	<title>Font Testing with Alegreya</title>
	<style>
		body {
			font: 18px/170% 'Alegreya', serif;
			max-width: 40em;
			margin: 4em auto 0;

		}
		span.smcps {
			font-family: 'Alegreya SC', serif;
		}
		em {
			font-weight: 400i;
		}
		h1 {
			font-family: 'Alegreya Sans', sans-serif;
		}
		a {
			font-family: 'Alegreya Sans', sans-serif;
			font-weight: 700;
			text-decoration: none;
		}
	</style>

</head>
<body>

	<h1>A long, 4 word headline in Alegreya Sans</h1>
	<p>The course’s brief was to come up with 4, 5 or 6 creative ways of <em>objecting</em> something, anything. <a href="#">A couple of my classmates</a> and I got this idea to get people to take a moment in their hectic lives and <a href="#">try</a> to relax for a bit. Our inital thought was to have different pieces of the displaced word <span class="smcps">“ró”</span> or <span class="smcps">“calm”</span> spelled out on multiple signs in a seemingly random order.</p>

</body>
</html>